.minicart{
    padding: 20px;
    margin: 30px;
}

.minicart p{
    color: black;
    font-size: 2em;
    text-align: center;
    font-weight: 600;
}

.maincont{
    margin-top: 100px;

}

.maincont img{
    width: 170px;
    height: 225px;
}

.qunt img{
    height: 41px;
    width: 120px;
}
.cartdetail{
    display: flex;
    padding: 20px;
}

.cartdetail, h2{
    justify-content: space-between;
}

.cartdetail2{
    display: flex;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cartdetail2, h2{
    justify-content: space-between;
}

.belowcont{
    padding: 20px;
    margin-bottom: 80px;
    margin-left: 65%;
}

.belowcont hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.belowcont label{
    margin-left: 10px;
}


.belowcont button{
    background-color: black;
    color: white;
    height: 55px;
    padding: 10px;
    width: 470px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 19px;
}


