.latest{
    background: #d9d9d9;
    margin-top: 50px;
}

.container2 {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #d8d8d8;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  header h1 {
    margin: 0;
    font-size: 2rem;
    color: black;
  }
  
  header p {
    color: black;
  }
  
  .card-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    height: 550px;
    width: 400px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: myAnim2 2s 2 ease-out normal forwards;
    
  }
  
  .card img {
    width: 400px;
    height: 440px;
    height: auto;
  }
  
  .card-content {
    padding: 20px;
    text-align: center;
  }
  
  .card-content h2 {
    margin: 0 0 10px;
    font-size: 1.5rem;
  }
  
  .rating {
    display: flex;
    margin-bottom: 10px;
    gap: 85px;
  }

  span{
    color: #ffbb00;
  }

  
  .card-content p {
    margin: 0 0 20px;
    margin-left: -20px;
    font-size: 1.2rem;
    color: #333;
  }
  
  .card-actions {
    display: flex;
    justify-content: space-around;
    gap: 50px;
  }

  .btn{
    gap: 18px;
    margin-left: 85px;
    display: flex;
  }

  .card-actions img{
    height: 23px;
    width: 25px;
  }


  @keyframes myAnim2 {
    0% {
      animation-timing-function: ease-in;
      opacity: 1;
      transform: translateY(45px);
    }
  
    24% {
      opacity: 1;
    }
  
    40% {
      animation-timing-function: ease-in;
      transform: translateY(24px);
    }
  
    65% {
      animation-timing-function: ease-in;
      transform: translateY(12px);
    }
  
    82% {
      animation-timing-function: ease-in;
      transform: translateY(6px);
    }
  
    93% {
      animation-timing-function: ease-in;
      transform: translateY(4px);
    }
  
    25%,
    55%,
    75%,
    87% {
      animation-timing-function: ease-out;
      transform: translateY(0px);
    }
  
    100% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateY(0px);
    }
  }